<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <ion-toggle ng-repeat="item in settingsList"
                  ng-model="item.checked"
                  ng-checked="item.checked"
                  ng-change="pushNotificationChange()">
        {{ item.text }}
      </ion-toggle>

      <div class="item">
        <pre ng-bind="settingsList | json"></pre>
      </div>
    </ion-list>
  </ion-content>
</ion-view>

    <ion-header-bar class="bar-positive">
      <h1 class="title">Toggles</h1>
    </ion-header-bar>

    <ion-content>
